@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

* {box-sizing:border-box;}

body {font-family: 'IBM Plex Sans KR', '맑은 고딕', Arial, Helvetica, sans-serif;
background:#d5d5d5;}

ul:after {
    display:block;
    content:"";
    clear:both;
}

header {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:80px;
    z-index:100;
    background:rgba(255,255,255,1);
}
header .header_in {width:1240px;
    margin:auto;
    height:80px;}
    h1 {float:left;
        font-family:'Montserrat', '맑은 고딕', Arial, Helvetica, sans-serif;
        font-size:35px;
        line-height:80px;
        color:#ff6c59;} 
    nav {float:right;}
    nav > ul > li {float:left;}
    nav > ul > li > a {
        position:relative;
        display:block;
        font-weight:600;
        line-height:80px;
        padding:0 25px;
        color:#000;
        transition: 0.3s;
    }
    nav a:hover {color:#ff6c59;}

    nav li .bar {
        position:absolute;
        left:0;
        top:77px;
        width:0%;
        height:3px;
        background:#ff6c59;
        transition:0.3s;
    }
        nav li:hover .bar {width:100%;}

section {
    background-position:center center;
}

#s0 {
    position:relative;
    background:url(../images/bg1.jpg);
    background-size:cover;
    background-position:center center;
}
#s0 >div {
    position:absolute;
    top:30%;
    left:-500px;
    padding:10px 0;
    animation:title 3s forwards;
}
#s0 h2 {
    font-size:80px;
}
#s0 p {
}
#s0 a {
    position:relative;
    display:block;
    padding-top:120px;
    color:#000;
    transition:0.3s;
    font-weight:bold;
}
#s0 a:hover {color:#ff6c59;}

#s0 .bar {
    position:absolute;
    left:0;
    top:142px;
    width:0%;
    height:3px;
    background:#ff6c59;
    transition:0.3s;}
    #s0 a:hover .bar {width:5%;}

    @keyframes title {
        0% {
            left:-500px;
            color:#000;
        }
        50% {color:#000;}
        100% {
            left:90px;
            color:#ff6c59;
        }
    }

#s0 .scroll {
    position:absolute;
    top:450px;
    width:60px;
    height:40px;
    text-align:center;
    animation:scr 3s infinite 3s;
}
#s0 .scroll img {
    width:100%;
}
#s0 .scroll p {
    font-size:16px;
    font-weight:600;
    line-height:1.7em;
    color:#fff;
}

@keyframes scr {
    0% {top:400px;}
    100% {top:450px;}
}

#s1 {
    background:url(../images/bg2.jpg);
    background-size:cover;
}

#s1 > div {
    position:absolute;
    top:30%;
    left:90px;
    padding:10px 0;
}

#s1 h2 {font-size:80px;}
#s1 a {
    position:relative;
    display:block;
    padding-top:120px;
    color:#000;
    transition:0.3s;
    font-weight:bold;
}
#s1 a:hover {color:#ff6c59;}

#s1 .bar {
    position:absolute;
    left:0;
    top:142px;
    width:0%;
    height:3px;
    background:#ff6c59;
    transition:0.3s;}
    #s1 a:hover .bar {width:5%;}

#s2 {
    position:relative;
}
.s2_inner {
    width:100%;
    margin:auto;
    padding-left:160px;
}
#s2 h2 {
    position:absolute;
    top:100px;
    padding-left:140px;
    font-size:60px;
}
#s2 .menu {
    float:left;
    width:20%;
    text-align:center;
    margin:0 13px;
    cursor:pointer;
    transition:0.3s;
}
#s2 .menu img {
    width:100%;
    border:10px solid transparent;
    border-radius:50%;
}
#s2 .menu:hover {transform:scale(110%);}

#s2 .menu p {
    font-weight:600;
    font-size:20px;
}

#s3 {position:relative;}
#s3 .notice {
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%);
    width:100%;
    padding-top:200px;
    text-align:center;
    background:#fff;
}
#s3 .notice p {
    font-size:20px;
    cursor:pointer;
    margin-bottom:70px;
    transition:0.4s;
}
#s3 .notice p span {
    font-size:32px;
    font-weight:600;
    padding-right:50px;
    vertical-align:middle;
}

#s3 .notice:hover {
    color:#ff6c59;
    font-weight:700;
}

#s3 ul {
    position:absolute;
    left:50%;
    transform:translate(-50%);
    padding-top:120px;
}
#s3 ul li {
    float:left;
    text-align:center;
    padding-left:70px;
    cursor:pointer;
}
#s3 ul li:first-child {padding-left:0;}

#s3 ul li a {
    display:block;
    color:#111;
    font-weight:600;
    font-size:24px;
}

#s3 ul li:after {
    display:inline-block;
}

#s3 .mobile:after {
    content:"";
    z-index:100;
    width:50px;
    height:64px;
    background: url(../images/bottomIcon.png) no-repeat 0 0;
}
#s3 .special:after {
    content:"";
    z-index:100;
    width:50px;
    height:64px;
    background:url(../images/bottomIcon.png) no-repeat 0 0;
    background-position:-50px;
}
#s3 .shop:after {
    content:"";
    z-index:100;
    width:50px;
    height:64px;
    background:url(../images/bottomIcon.png) no-repeat 0 0;
    background-position:-100px;
}




.indicator {
    position:fixed;
    display:block;
    top:90%;
    right:20px;
    z-index:1000;
}

.indicator li {
    width:180px;
    height:52px;
    margin-bottom:2px;
}

.indicator li a {
    position:relative;
    display:block;
    font-size:22px;
    line-height:50px;
    color:#fff;
    background:#ff6c59;
    border-radius:24px;
    padding-left:18px;
    transition:0.3s;
    font-weight:bold;
}
.indicator li a:hover {
    text-decoration:none;
    background:#000;
}



.sub {
    position:absolute;
    height:0;
    z-index:2;
    overflow:hidden;
}
    .sub li {
        background:rgba(255,255,255,0.6);
        padding:0 15px;
}
    .sub li:first-child {
        padding-top:25px;
    }
    .sub li:last-child {padding-bottom:25px;}
    .sub li a {
        color:#000;
        font-size:15px;
        position:relative;
        display:block;
        font-weight:600;
        line-height:40px;
        padding:0 20px;
}

    ul li:hover .sub {animation:menu 1s forwards;}

@keyframes menu {
    from {height:0;}
    to {height:300px;}
}